#wlps-main {
  font-family: Helvetica, sans-serif, Arial, sans-serif;
  margin-right: 15px;
  background-color: rgb(248, 248, 252);
  padding: 2rem;
}
#wlps-main .wlpe-error {
  border: 1px solid red;
}
#wlps-main .wlps-main-header {
  display: flex;
  width: 100%;
  align-items: center;
}
#wlps-main .wlps-main-header h1 {
  color: rgb(22, 31, 49);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  min-width: max-content;
}
#wlps-main .wlps-main-header div {
  position: relative;
  z-index: 10;
  margin-top: 0.375rem;
  display: flex;
  width: 100%;
  align-items: center;
  color: rgb(122, 129, 143);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
#wlps-main .wlps-tabs {
  display: flex;
  position: relative;
  z-index: 10;
  width: 100%;
  align-items: center;
}
#wlps-main .wlps-tabs a {
  display: flex;
  height: 48px;
  align-items: center;
  background-color: rgb(243, 243, 247);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: rgb(83, 88, 99);
  box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0);
  text-decoration: none;
  border: 1px solid rgb(243, 243, 247);
  font-size: 1rem;
  gap: 5px;
}
#wlps-main .wlps-tabs a:hover {
  background-color: rgb(255, 255, 255);
  color: #4F47EB;
  border: 1px solid #E7E7EF;
  border-bottom-color: rgb(255, 255, 255);
}
#wlps-main .wlps-tabs a i {
  font-size: 1.25rem;
}
#wlps-main .wlps-tabs .nav-tab-active {
  background-color: rgb(255, 255, 255);
  color: #4F47EB;
  border: 1px solid #E7E7EF;
  border-bottom-color: rgb(255, 255, 255);
}
#wlps-main #wlpe-expire-points .wlps-back-to-apps a {
  display: flex;
  min-width: max-content !important;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 0.375rem;
  background-color: rgb(79, 71, 235);
  padding: 0.75rem 0.625rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 550;
  letter-spacing: 0;
  color: rgb(255, 255, 255);
  gap: 7px;
}
#wlps-main #wlpe-expire-points .wlpe-no-points {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7vh;
  min-height: 60vh;
}
#wlps-main #wlpe-expire-points .no-points-label {
  color: #161F31;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
#wlps-main #wlpe-expire-points .wlpe-email-search {
  cursor: pointer;
}
#wlps-main #wlpe-expire-points .wlpe-search-filter-block {
  display: flex;
  gap: 10px;
}
#wlps-main #wlpe-expire-points .content-header .search {
  background: #FFFFFF;
  border: 1px solid #E7E7EF;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  padding: 0 3px;
}
#wlps-main #wlpe-expire-points .content-header .search input[type=text] {
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 0.75rem;
}
#wlps-main #wlpe-expire-points .content-header .search button {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: #FFFFFF;
  width: fit-content;
}
#wlps-main #wlpe-expire-points .content-header .wlpe-filter {
  width: 50%;
  background: #FFFFFF;
  border: 1px solid #E7E7EF;
  border-radius: 6px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  height: 42px;
  gap: 1px;
  position: relative;
  padding: 0 3px;
}
#wlps-main #wlpe-expire-points .wlpe-filter-status-block {
  width: 250px;
  background-color: #FFFFFF;
  float: right;
  margin-right: 10px;
  border: 1px solid #E7E7EF;
  border-radius: 6px;
  position: absolute;
  right: 15px;
}
#wlps-main #wlpe-expire-points .wlpe-filter-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wlps-main #wlpe-expire-points .wlpe-filter-status button {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  padding: 12px 14px;
  border-radius: 4px;
  background: #FFFFFF;
}
#wlps-main #wlpe-expire-points .wlpe-filter-status button:hover {
  background: #4F47EB;
  color: #FFFFFF;
}
#wlps-main #wlpe-expire-points .wlpe-filter-status .active-filter {
  background: #4F47EB;
  color: #FFFFFF;
}
#wlps-main #wlpe-expire-points .wlpe-body-content {
  min-height: 60vh;
}
#wlps-main #wlpe-expire-points .wlpe-body-content .wlpe-body-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 20px 25px 5px 20px;
  padding: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.06em;
  color: #535863;
}
#wlps-main #wlpe-expire-points .wlpe-body-content .wlpe-body-header div {
  text-align: center;
}
#wlps-main #wlpe-expire-points .wlpe-body-content .wlpe-data-row {
  background: #FFFFFF;
  border: 1px solid #E7E7EF;
  box-shadow: 0 0 24px rgba(12, 17, 58, 0.04);
  border-radius: 8px;
  height: auto;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 10px 25px;
  color: #161F31;
  grid-gap: 2px;
  text-align: center;
}
#wlps-main #wlpe-expire-points .wlpe-body-content .wlpe-data-row div p {
  font-size: 14px;
}
#wlps-main #wlpe-expire-points .wlpe-body-content .wlpe-data-row .customer {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  text-align: initial;
}
#wlps-main #wlpe-expire-points .wlpe-body-content .wlpe-data-row .point-status {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#wlps-main #wlpe-expire-points .wlpe-body-content .wlpe-data-row .point-status p {
  padding: 3px 5px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 4px;
}
#wlps-main #wlpe-expire-points .wlpe-body-content .wlpe-data-row .point-status .active {
  background: #DDF8EC;
  color: #00C288;
}
#wlps-main #wlpe-expire-points .wlpe-body-content .wlpe-data-row .point-status .open {
  background: #F6F6FE;
  color: #4F47EB;
}
#wlps-main #wlpe-expire-points .wlpe-body-content .wlpe-data-row .point-status .used {
  background: #FDEEC4;
  color: #F6BA09;
}
#wlps-main #wlpe-expire-points .wlpe-body-content .wlpe-data-row .point-status .expired {
  background: #FFDCD6;
  color: #F5425D;
}
#wlps-main #wlpe-expire-points .wlpe-body-content .wlpe-data-row .available-points {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3px;
}
#wlps-main #wlpe-expire-points .wlpe-body-content .wlpe-data-row .used-points {
  text-align: center;
}
#wlps-main #wlpe-expire-points .wlpe-body-content .wlpe-data-row .expiery-date-block [class^=point-expiery-date],
#wlps-main #wlpe-expire-points .wlpe-body-content .wlpe-data-row .expiery-date-block [class^=email-expiery-date] {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
#wlps-main #wlpe-expire-points .wlpe-body-content .wlpe-data-row [id^=wlpe-edit-expiery-date-] {
  cursor: pointer;
}
#wlps-main #wlpe-expire-points [class^=point-update-date-],
#wlps-main #wlpe-expire-points [class^=email-update-date-] {
  display: flex;
  align-items: center;
  gap: 3px;
}
#wlps-main #wlpe-expire-points [class^=point-update-date-] input[type=date],
#wlps-main #wlpe-expire-points [class^=email-update-date-] input[type=date] {
  width: 50%;
  font-size: 13px;
}
#wlps-main #wlpe-expire-points [class^=point-update-date-] #wlpe-point-expire-save-date,
#wlps-main #wlpe-expire-points [class^=email-update-date-] #wlpe-email-expire-save-date {
  background-color: #4F47EB;
  color: #FFFFFF;
  font-size: 25px;
  border-radius: 6px;
  cursor: pointer;
}
#wlps-main #wlpe-expire-points [class^=point-update-date-] #wlpe-point-expire-close-date,
#wlps-main #wlpe-expire-points [class^=email-update-date-] #wlpe-email-expire-close-date {
  background-color: #E4E5E7;
  color: #161F31;
  font-size: 25px;
  border-radius: 6px;
  cursor: pointer;
}
#wlps-main #wlpe-expire-points .wlpe-pagination {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
#wlps-main #wlpe-expire-points .wlpe-pagination .pagination {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 25px;
  margin-bottom: 20px;
}
#wlps-main #wlpe-expire-points .wlpe-pagination .pagination li {
  background: #FFFFFF;
  border: 1px solid #E7E7EF;
  border-radius: 6px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
}
#wlps-main #wlpe-expire-points .wlpe-pagination .pagination a {
  text-decoration: none;
  color: inherit;
  outline: none;
  box-shadow: none;
  padding: 12px;
  font-weight: 500;
  font-size: 1rem;
}
#wlps-main #wlpe-expire-points .wlpe-pagination .pagination .wlpe-current-page {
  background-color: #4F47EB;
}
#wlps-main #wlpe-expire-points .wlpe-pagination .pagination .wlpe-current-page a {
  color: #FFFFFF;
}
#wlps-main #wlpe-expire-points .dataTables_info {
  margin: 0 30px 5px 30px;
}
#wlps-main #wlpe-expire-points .wlpe-expire-points-content-holder,
#wlps-main #wlps-settings .wlps-setting-page-holder {
  background: #FFFFFF;
  border: 1px solid #E7E7EF;
  border-radius: 0 8px 8px 8px;
  min-height: 80vh;
}
#wlps-main #wlpe-expire-points .content-header,
#wlps-main #wlps-settings .wlps-settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
  margin-top: 10px;
  margin-right: 10px;
}
#wlps-main #wlpe-expire-points .content-header .heading,
#wlps-main #wlps-settings .wlps-settings-header .wlps-setting-heading {
  margin-left: 10px;
}
#wlps-main #wlpe-expire-points .content-header .heading p,
#wlps-main #wlpe-settings .wlps-settings-header .wlps-setting-heading p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
}
#wlps-main #wlps-settings .wlps-settings-notification-label,
#wlps-main #wlps-settings .wlps-send-email-checkbox label,
#wlps-main #wlps-settings .wlps-enable-expire-point-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #161F31;
}
#wlps-main #wlps-settings .wlps-settings-header .wlps-save-changes {
  background: #4F47EB;
  border-radius: 6px;
}
#wlps-main #wlps-settings .wlps-settings-header .wlps-save-changes button {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 10px;
  height: max-content;
  width: -webkit-fill-available;
  width: -moz-available;
  border: none;
  outline: none;
  background: none;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 550;
}
#wlps-main #wlps-settings .wlps-settings-header .wlps-back-to-apps a {
  display: flex;
  min-width: max-content !important;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 0.375rem;
  background-color: rgb(79, 71, 235);
  padding: 0.75rem 0.625rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 550;
  letter-spacing: 0;
  color: rgb(255, 255, 255);
  gap: 7px;
}
#wlps-main #wlps-settings .redirect-to-loyalty {
  padding: 10px;
  border: 1px solid #4F47EB;
  color: #4F47EB;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
}
#wlps-main #wlps-settings .wlps-setting-body .wlps-settings-body-content {
  background: #FFFFFF;
  border: 1px solid #E7E7EF;
  border-radius: 8px;
  margin: 20px 20px;
  width: 60%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#wlps-main #wlps-settings .wlps-setting-body .wlps-settings-body-content .wlps-email-expiry-editor {
  display: flex;
  gap: 1.5rem;
}
#wlps-main #wlps-settings .wlps-setting-body .wlps-settings-body-content .wlps-expire-after, #wlps-main #wlps-settings .wlps-setting-body .wlps-settings-body-content .wlpe-expired-period,
#wlps-main #wlps-settings .wlps-setting-body .wlps-settings-body-content .wlps-email-notification-value, #wlps-main #wlps-settings .wlps-setting-body .wlps-settings-body-content .wlps-email-notification-time {
  margin-top: 10px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E7E7EF;
  border-radius: 6px;
  padding: 5px;
  box-shadow: none;
  max-width: none;
}
#wlps-main #wlps-settings .wlps-email-notification {
  margin-top: 15px;
}
#wlps-main #wlps-settings .wlps-button-block {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
#wlps-main #wlps-settings .wlps-setting-label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #535863;
}
#wlps-main #wlps-settings .wlps-expire-time-block {
  margin-top: 15px;
}
#wlps-main #wlps-settings .wlps_expire_after_value_block,
#wlps-main #wlps-settings .wlps_expire_email_after_value_block {
  display: flex;
  align-items: center;
  gap: 10px;
}
#wlps-main #wlps-settings .wlps-expire-time-1,
#wlps-main #wlps-settings .wlpe-expire-time-2 {
  width: 50%;
  display: flex;
  gap: 5px;
}
#wlps-main #wlps-settings .wlps-expire-time-1 .wlps-input-filed input,
#wlps-main #wlps-settings .wlpe-expire-time-2 .wlps-input-filed input {
  height: max-content;
}
#wlps-main #wlps-settings .wlps-expire-time-1 p,
#wlps-main #wlps-settings .wlpe-expire-time-2 p {
  display: flex;
  white-space: nowrap;
  padding-top: 10px;
}

/*# sourceMappingURL=wlps-admin.css.map */
