$cursor: pointer;
$theme-color: #4F47EB;
$color-white: #FFFFFF;
$border-color: #E7E7EF;
#wlps-main {
  font-family: Helvetica, sans-serif, Arial, sans-serif;
  margin-right: 15px;
  background-color: rgba(248, 248, 252, 1);
  padding: 2rem;

  .wlps-error {
    border: 1px solid red;
  }

  .wlps-main-header {
    display: flex;
    width: 100%;
    align-items: center;

    h1 {
      color: rgba(22, 31, 49, 1);
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.75rem;
      min-width: max-content;
    }

    div {
      position: relative;
      z-index: 10;
      margin-top: 0.375rem;
      display: flex;
      width: 100%;
      align-items: center;
      color: rgba(122, 129, 143, 1);
      margin-right: calc(0.5rem * calc(1 - 0));
      margin-left: calc(0.5rem * calc(1 - 0));
    }
  }

  .wlps-tabs {
    display: flex;
    position: relative;
    z-index: 10;
    width: 100%;
    align-items: center;

    a {
      display: flex;
      height: 48px;
      align-items: center;
      background-color: rgba(243, 243, 247, 1);
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      color: rgba(83, 88, 99, 1);
      box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0);
      text-decoration: none;
      border: 1px solid rgba(243, 243, 247, 1);
      font-size: 1rem;
      gap: 5px;

      &:hover {
        background-color: rgba(255, 255, 255, 1);
        color: $theme-color;
        border: 1px solid $border-color;
        border-bottom-color: rgba(255, 255, 255, 1);
      }

      i {
        font-size: 1.25rem;
      }
    }

    .nav-tab-active {
      background-color: rgba(255, 255, 255, 1);
      color: $theme-color;
      border: 1px solid $border-color;
      border-bottom-color: rgba(255, 255, 255, 1);
    }
  }

  #wlps-point-sharing {
    .wlps-back-to-apps a {
      display: flex;
      min-width: max-content !important;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      border-radius: 0.375rem;
      background-color: rgba(79, 71, 235, 1);
      padding: 0.75rem 0.625rem;
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 550;
      letter-spacing: 0;
      color: rgba(255, 255, 255, 1);
      gap: 7px;
    }

    .wlps-no-points {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 7vh;
      min-height: 60vh;
    }

    .no-points-label {
      color: #161F31;
      font: {
        weight: 700;
        size: 20px;
      };
      line-height: 30px;
      text-align: center;
    }

    .wlps-email-search {
      cursor: $cursor;
    }

    .wlps-search-filter-block {
      display: flex;
      gap: 10px;
    }

    .content-header {
      .search {
        background: $color-white;
        border: 1px solid $border-color;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        padding: 0 3px;

        input[type=text] {
          border: none;
          outline: none;
          box-shadow: none;
          font-size: 0.75rem;
        }

        button {
          border: none;
          outline: none;
          box-shadow: none;
          background-color: $color-white;
          width: fit-content;
        }

      }

      .wlps-filter {
        width: 50%;
        background: $color-white;
        border: 1px solid $border-color;
        border-radius: 6px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        cursor: $cursor;
        height: 42px;
        gap: 1px;
        position: relative;
        padding: 0 3px;
      }
    }

    .wlps-filter-status-block {
      width: 250px;
      background-color: $color-white;
      float: right;
      margin-right: 10px;
      border: 1px solid $border-color;
      border-radius: 6px;
      position: absolute;
      right: 15px;
    }

    .wlps-filter-status {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        border: none;
        outline: none;
        box-shadow: none;
        cursor: $cursor;
        padding: 12px 14px;
        border-radius: 4px;
        background: $color-white;

        &:hover {
          background: $theme-color;
          color: $color-white;
        }
      }

      .active-filter {
        background: $theme-color;
        color: $color-white;
      }
    }

    .wlps-body-content {
      min-height: 60vh;

      .wlps-body-header {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin: 20px 25px 5px 20px;
        padding: 20px 20px 20px 0px;
        font: {
          weight: 500;
          size: 12px;
        }
        line-height: 16px;
        letter-spacing: 0.06em;
        color: #535863;

        div {
          text-align: center;
        }
      }

      .wlps-data-row {
        background: $color-white;
        border: 1px solid $border-color;
        box-shadow: 0 0 24px rgba(12, 17, 58, 0.04);
        border-radius: 8px;
        height: auto;
        padding: 10px 20px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin: 10px 25px;
        color: #161F31;
        grid-gap: 2px;
        text-align: center;

        div p {
          font-size: 14px;
        }

        .record-id {
          padding-right: 45px;
        }

        .sender-email {
          display: flex;
          flex-direction: column;
          word-break: break-word;
          text-align: initial;
          padding-right: 30px;
        }

        .recipient-email {
          display: flex;
          flex-direction: column;
          word-break: break-word;
          text-align: initial;
        }

        .point-status {
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          p {
            padding: 3px 5px;
            font-weight: 600;
            text-transform: capitalize;
            border-radius: 4px;
          }

          .completed {
            background: #DDF8EC;
            color: #00C288;
          }

          .pending {
            background: #F6F6FE;
            color: #4F47EB;
          }

          .failed {
            background: #FFDCD6;
            color: #F5425D;
          }

          .expired {
            background: #FDEEC4;
            color: #F6BA09;
          }
        }

        .points-shared {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          gap: 3px;
        }
      }
    }

    .wlps-pagination {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      .pagination {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-right: 25px;
        margin-bottom: 20px;

        li {
          background: $color-white;
          border: 1px solid $border-color;
          border-radius: 6px;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: $cursor;
          font-size: 15px;
        }

        a {
          text-decoration: none;
          color: inherit;
          outline: none;
          box-shadow: none;
          padding: 12px;

          font: {
            weight: 500;
            size: 1rem;
          }

        }

        .wlps-current-page {
          background-color: $theme-color;

          a {
            color: $color-white;
          }
        }
      }

    }

    .dataTables_info {
      margin: 0 30px 5px 30px;
    }
  }

  #wlps-point-sharing .wlps-point-sharing-content-holder,
  #wlps-settings .wlps-setting-page-holder {
    background: $color-white;
    border: 1px solid $border-color;
    border-radius: 0 8px 8px 8px;
    min-height: 80vh;
  }

  #wlps-point-sharing .content-header,
  #wlps-settings .wlps-settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-top: 10px;
    margin-right: 10px;
  }

  #wlps-point-sharing .content-header .heading,
  #wlps-settings .wlps-settings-header .wlps-setting-heading {
    margin-left: 10px;
  }

  #wlps-point-sharing .content-header .heading p,
  #wlps-settings .wlps-settings-header .wlps-setting-heading p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
  }

  #wlps-settings {
    .wlps-settings-notification-label,
    .wlps-share-point-email-template label {
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: #161F31;
    }

    .wlps-settings-header {
      .wlps-save-changes {
        background: $theme-color;
        border-radius: 6px;

        button {
          display: flex;
          align-items: center;
          text-align: center;
          gap: 10px;
          padding: 10px;
          height: max-content;
          width: -webkit-fill-available;
          width: -moz-available;
          border: none;
          outline: none;
          background: none;
          color: $color-white;
          cursor: $cursor;
          font-weight: 550;
        }
      }

      .wlps-back-to-apps a {
        display: flex;
        min-width: max-content !important;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        border-radius: 0.375rem;
        background-color: rgba(79, 71, 235, 1);
        padding: 0.75rem 0.625rem;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 550;
        letter-spacing: 0;
        color: rgba(255, 255, 255, 1);
        gap: 7px;
      }

    }

    .redirect-to-loyalty {
      padding: 10px;
      border: 1px solid $theme-color;
      color: $theme-color;
      border-radius: 6px;
      text-decoration: none;
      cursor: pointer;
    }

    .wlps-setting-body .wlps-settings-body-content {
      background: $color-white;
      border: 1px solid $border-color;
      border-radius: 8px;
      margin: 20px 20px;
      width: 60%;
      padding: 12px;
      display: flex;
      flex-direction: column;
      gap: 25px;

      .wlps-share-point-email-editor {
        display: flex;
        gap: 1.5rem;
      }

      .wlps-point-share-max-points-value {
        margin-top: 10px;
        width: 100%;
        background: $color-white;
        border: 1px solid $border-color;
        border-radius: 6px;
        padding: 5px;
        box-shadow: none;
        max-width: none;
      }
    }

    .wlps-email-notification {
      margin-top: 15px;
    }

    .wlps-button-block {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
    }

    .wlps-setting-label {
      font: {
        style: normal;
        weight: 500;
        size: 14px;
      };
      line-height: 18px;
      letter-spacing: 0.02em;
      color: #535863;
    }

    .wlps-point-share-block {
      margin-top: 15px;
    }

    .wlps_point_share_value_block {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .wlps-share-point-max-points {
      width: 50%;
      display: flex;
      gap: 5px;

      .wlps-input-filed {
        input {
          height: max-content;
        }
      }

      p {
        display: flex;
        white-space: nowrap;
        padding-top: 10px;
      }
    }
  }

}